* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    overflow-x: hidden!important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #084e6e;
}
h1 {    
    width: 100%;
    color: white;
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
}
main{
    flex: 1;
}
.accordion-button.collapsed{
    color: #084e6ed0;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 0;
}
.accordion-button:not(.collapsed) {
    color:rgb(255, 145, 0);
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 0;
}
.enlaces {
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: #084E6E;
}
.enlaces:hover{
    color:rgb(255, 145, 0);
}
.footer {
    height: 112px;
    background-color: #084e6e; 
    width: 100%;
    margin-top: auto;
}
.linkRedes{
    width: 50%;
    text-align: center;
}
.logoBiblioteca{
    width:100%;
    object-fit: cover;
}
.firma{
    font-size: 0.8rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.firmaDetalles{
    margin-bottom: 0!important;
}
@media screen and (min-width: 429px) {
    .logoBiblioteca{
        width: 25%;
    }
}
@media screen and (min-width: 768px) {
    .logoBiblioteca{
        width: 45%;
    }
}
@media screen and (min-width: 1200px) {
    .logoBiblioteca{
        width: 28%;
    }
}